config:
  core.https_address: {{ vv_lxd_core_https_address }}
  core.trust_password: {{ vv_lxd_core_trust_password}}
networks: []
storage_pools: []
profiles:
- config: {}
  description: ""
  devices:
    root:
      path: /
      pool: {{vv_lxd_local_storage_name}}
      type: disk
  name: {{vv_lxd_profile_name}}
cluster: null
