#!/bin/sh
#
# verivina lxd daemon service
#
# chkconfig: 345 99 01
# description: Starts/Stops all LXD daemon on boot.
#
### BEGIN INIT INFO
# Provides: lxd
# Required-Start: $syslog $remote_fs
# Required-Stop: $syslog $remote_fs
# Should-Start: cgroupfs-mount
# Should-Stop: cgroupfs-mount
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: verivina lxd daemon service
# Description: verivina lxd daemon service
### END INIT INFO

# To be replaced by LSB functions, if they can be found
# Defined here for distributions that don't have log_daemon_msg
log_daemon_msg () {
    echo $@
}

# Try to source LSB init functions to define LSB log_* functions.
test ! -r /lib/lsb/init-functions ||
        . /lib/lsb/init-functions

start() {
    # Setup host /dev for autodev containers.
    log_daemon_msg "Starting LXD daemon: "
    export LD_LIBRARY_PATH={{opt_lxd_path}}/deps:$LD_LIBRARY_PATH
    {{bin_lxd_path}}/lxd --group {{vv_lxd_group}} &
    {{bin_lxd_path}}/lxd waitready 
    echo "[vv-lxd-info]: lxd is ready"
}

stop() {
    log_daemon_msg "Stopping LXD daemon: "
    export LD_LIBRARY_PATH={{opt_lxd_path}}/deps:$LD_LIBRARY_PATH
    {{bin_lxd_path}}/lxd shutdown
}

# See how we were called.
case "$1" in
    start)
        start
    ;;

    stop)
        stop
    ;;

    restart|reload|force-reload)
        $0 stop
        $0 start
    ;;

    *)
        echo "Usage: $0 {start|stop|restart|reload|force-reload}"
        exit 2
    ;;
esac

exit $?
